{% extends 'base.html' %}

{% block title %}
Homepage
{% endblock title %}

{% block content %}
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Blog:
          <small>Publicações</small>
        </h1>
       {% for post in posts %}
        <!-- Blog Post -->

        <div class="card mb-4">
            <img class="card-img-top" src="{{ post.foto_capa.url }}">
            <div class="card-body">
                <h2 class="card-title">{{ post.titulo }}</h2>
                <p class="card-text">{{ post.descricao }}</p>
                <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                Publicado em {{ post.data_cadastro }} por
                <a href="#">{{ post.autor }}</a>
            </div>
        </div>
        {% endfor %}

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>

      </div>

{% endblock content %}